Source: ros-kinetic-thormang3-gripper-module-msgs
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation
Homepage: http://wiki.ros.org/thormang3_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-gripper-module-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime
Description: The thormang3_gripper_module_msgs package
