Source: ros-kinetic-thormang3-msgs
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/thormang3_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-thormang3-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-thormang3-action-module-msgs, ros-kinetic-thormang3-feet-ft-module-msgs, ros-kinetic-thormang3-gripper-module-msgs, ros-kinetic-thormang3-manipulation-module-msgs, ros-kinetic-thormang3-offset-tuner-msgs, ros-kinetic-thormang3-walking-module-msgs, ros-kinetic-thormang3-wholebody-module-msgs
Description: ROS packages for the thormang3_msgs (meta package)
